* {
    background-color: black;
}

#character {
    color:rgb(0, 0, 0);

     
        font-family: "Atkinson Hyperlegible Mono", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
      
}

.animated {
    animation: color-change 5s infinite;
}



#text:hover {
    cursor: none;
}

#text {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */}

@keyframes color-change {
    0% {color: #1f1f1f}
    50% {color: rgb(202, 202, 202)}
    100% {color:#000000}
}